/* Set size of master container */
.gamecontainer{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.wheel{
    background-image: url("../images/wheelbanner.jpg");
    background-repeat: no-repeat;
    background-size: 940px 700px;
    opacity: .7;
    color: white;
    
}

/* Attributes for arena div where gameplay occurs */
.arena{
    width: 100%;
    max-width: 960px;
    height: 700px;
    background-image: url("../images/wheelbanner.jpg");
    background-repeat: no-repeat;
    background-size: 920px 700px;
    /* background-color: rgb(233, 224, 224); */
    border:  dashed rgb(27, 113, 124) 10px;
}

/* Establishing attibutes for row in game that houses stats*/
.my-row{
    border: 1px solid white;
    height: 100px;
    color: white;
}

/* Establishing attributes for row that is the game */
.my-row2{
    border: 1px solid white;
    height: 400px;
    color: white;
    font-weight: bolder
    
  
}

/* Establish size of letters in field of play */

#unknownWord{

  border: 2px solid white;
  height: 200px;
  width: 800px;
  font-size: 50px;
  text-align: center;
  color: white;
  
}